@use "variables";
@use "functions";

nav {
  display: flex;
  position: fixed;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color: variables.$nav-color;
  color: variables.$nav-font-color;
  justify-content: space-between;
  z-index: 10;
}


span {
  margin-left: 1.5em;
  font-size: xx-large;
  font-family: bungee;
  align-self: center;
}

.right-nav {
  margin-top: 1.5em;
  margin-right: 1.5em;
  @include functions.centered();
  flex-direction: column;
  cursor: pointer;
}

.arrow-icon {
  color: variables.$highlight-color;
  animation-duration: 1s;
  animation-name: wiggle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wiggle {
  from {
    margin-top:0.25em;
  }

  to {
    margin-top:0;
  }
}