.tweet-container {
  border: 0.25em solid #545149;
  padding: 1em;
  margin-bottom: 2em;
  display: none;
}

section article:hover {
  box-shadow:0.25em 0.25em 0 rgba(0, 0, 0, 0.26);
}
 
.header-tweet {
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-tweet-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-picture {
  max-height: 2em;
  padding-right: 0.5em;
}

.header-tweet-handle {
  font-weight: bold;
  color: #f2545B;
}

.tweet-body {
  border-bottom: 0.125em solid #545149;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.footer-tweet {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin: 0.5em;
}

.footer-tweet p {
  margin: 0;
} 

.social-media-buttons {
  display:flex;
  color: #19323C;
}

.fa-solid {
  padding: 0 0.5em;
}

.social-media-buttons:hover {
  color: #f2545B;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin-top: 7em;
    margin-left: 45%;
    margin-right: 5%
  }
}