.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  margin-bottom: 2em;
  background-color: #8C5E58;
  z-index: 1;
  justify-content: flex-end;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.profile-name {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: xx-large;
}

.avatar {
  align-items: flex-end;
  display: flex;
  max-height: 75%;
}

@media only screen and (min-width: 1024px) {
  .profile-header {
    align-self: center;
    position: fixed;
    top: 20%;
    width: 33vw;
    margin-left: 5%;
  }

  .avatar {
    max-height: 100%;
  }
}
