nav {
  display: flex;
  position: absolute;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10;
}


span {
  margin-left: 1.5em;
  font-size: xxx-large;
  font-family: bungee;
  margin-bottom: 0.25em;
}

.right-nav {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;
}

.arrow-icon {
  color: red;
}